<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tweets</title>
</head>
<body>
  <p style="color: green"><%= notice %></p>

  <h1>Tweets</h1>

  <div id="tweets">
    <% @tweets.each do |tweet| %>
      <div class="tweet">
        <h2><%= tweet.username %></h2>
        <p><%= tweet.description %></p>
        <p>
          <%= link_to "Show this tweet", tweet %> |
          <%= link_to "Edit", edit_tweet_path(tweet) %> |
          <%= link_to "Destroy", tweet, method: :delete, data: { confirm: "Are you sure?" } %>
        </p>
      </div>
    <% end %>
  </div>

  <%= link_to "New tweet", new_tweet_path %>
  <%= pagy_nav(@pagy) %>
  <%= form_with url: tweets_path, method: :get, local: true do %>
    <%= text_field_tag :query, params[:query], placeholder: "Buscar tweets" %>
    <%= submit_tag "Buscar" %>
  <% end %>
</body>
</html>
